html, body {
    height: 100%;
}

body {
    font: 20px "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    line-height: 1.8;
    color: black;
}

p {
    font-size: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

a {
    color: #FF2283;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 40px;
}

.margin {
    margin-bottom: 40px;
}

.bg-1 {
    background-color: #FFD6E8; /* (FFD6E8) FF2283 and FF7FB8 */
    color: #FF2283;
}

.bg-2 {
    background-color: #FFC6DF; /* (FF338D) FF2283 and FFC6DF */
    color: #FF2283;
}

.card {
    color: #FF2283;
    text-align: middle;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #FFD6E8; /* (FF338D) FF2283 and FFD6E8 */
    color: #FF2283;
}

.bg-4 {
    background-color: #FFC6DF; /* FFC6DF */
    color: black;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #2e72a1 !important;
}
